@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --submit: 233 92% 54%;
    --submit-foreground: 0 0% 100%;
    --blue-background: 233 92% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}