@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --submit: 237 92% 54%;
    --submit-foreground: 0 0% 100%;
    --submit-second: 233 92% 54%;
    --submit-second-foreground: 0 0% 100%;
    --blue: 233 92% 45%;
    --blue-foreground: 0 0% 100%;
    --gray: 210 11% 15%;
    --gray-foreground: 0 0% 100%;
    --cyan: 174 76% 47%;
    --cyan-foreground: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}