@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --ring: 0 0% 70%;
    --checkbox: 0 0% 50%;
    --submit: 237 92% 54%;
    --submit-foreground: 0 0% 100%;
    --submit-second: 233 92% 54%;
    --submit-second-foreground: 0 0% 100%;
    --blue: 233 92% 45%;
    --blue-foreground: 0 0% 100%;
    --gray: 210 11% 15%;
    --gray-foreground: 0 0% 100%;
    --cyan: 174 76% 47%;
    --cyan-foreground: 0 0% 100%;
    --orange: 30 92% 53%;
    --orange-foreground: 0 0% 100%;
    --input: 0 0 85%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 213.8 5% 90%;
    --muted: 175.8 30% 85%;
    --muted-foreground: 213.8 5% 35%;

  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}